
.terminal {
    background-color: rgba(255, 255, 255, 0); 
    color: #f75f23;
    padding: 2px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 10px;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    
    
  }
  
  .terminal-header {
    margin-bottom: 10px;
    font-weight: bolder;
    .terminal-logs {
    background-color: rgba(255, 255, 255, 0); 
    color: #48cad3;
    padding: 2px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 10px;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
}
  }
  
  .terminal-output {
    margin-bottom: 10px;
    color: rgb(120, 190, 79);
    font-weight:bolder;
    
  }
.inputBox{
  background-color: rgba(255, 255, 255, 0); /* Dark background */
  color: #48cad3; /* Light grey text */
  border: rgba(255, 255, 255, 0) ;
  border: none; 
  outline: none; 
  padding: 5px;
  font-family: monospace; /* Monospace font for terminal look */
  border-radius: 3px; 
  font-weight: bolder;
  font-size:larger;
}
  .form {
    display: flex;
    flex-direction: column;
    justify-content:right;
    font-weight: bolder;
    
}
